<!DOCTYPE html>
<html>
<head>
    <title>Dish View</title>
    <link rel="stylesheet" type="text/css" href="/css/ViewDish.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div>
    <div class="index">

        @{
            <a href="/">Home</a>
            foreach (var VARIABLE in ViewBag.Dish) {
                <div class="header-box">
                    <h1 class="header-text-lone">@VARIABLE.Name</h1>
                    <h6 class="header-text-ltwo">@VARIABLE.Chef</h6>
                </div>

                <div class="footer-box">
                    <div class="description">
                        <p>@VARIABLE.Description</p>
                    </div>
                    <a>
                        <b class="padds">Calories: </b>
                    </a> @VARIABLE.Calories
                    <div></div>
                    <a>
                        <b class="padds">Tastiness:</b>
                    </a> @VARIABLE.Tastiness

                </div>

                
                    <form class="buttons">
                        <button class="btn btn-danger" formaction="/delete/@VARIABLE.DishId">Delete</button>
                        <button class="btn btn-secondary" formaction="/edit/@VARIABLE.DishId">Edit</button>
                    </form>
                
            }
        }
    </div>

</div>
</body>
</html>