<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container spacer">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>Dojo Activity Center</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <div class="options">
                <h7 class="welcome-msg">Welcome @ViewBag.LoggedInUser.Name</h7>
                <a href="/logout" class="btn btn-danger welcome-msg">Log out</a>

            </div>
        </div>
    </nav>
</header>

@{
    foreach (Activity VARIABLE in ViewBag.Activity) {
        <h2>@VARIABLE.Title</h2>

        <div class="view-activity-button">
            <h4 class="sub-head">Event Coordinator: @VARIABLE.Poster.Name</h4>
            @{
                if (ViewBag.LoggedInUser.UserId == VARIABLE.UserId) {
                    <a href="/delete/@VARIABLE.ActivityId" class="btn btn-danger">Delete</a>
                }
                else {
                    if (VARIABLE.Guests.Any(f => f.UserId == ViewBag.LoggedInUser.UserId)) {
                        <a href="/unrsvp/@VARIABLE.ActivityId/@ViewBag.LoggedInUser.UserId" class="btn btn-danger">Un-RSVP</a>
                    }
                    else {
                        <a href="/rsvp/@VARIABLE.ActivityId/@ViewBag.LoggedInUser.UserId" class="btn btn-primary">RSVP</a>
                    }
                }
            }
        </div>

        <h4 class="view-spacer">Description:</h4>
        <h6 class="view-spacer-v2">@VARIABLE.Description</h6>
        <h4 class="view-spacer">Participants:</h4>
        <ol>
            @foreach (var guest in ViewBag.AcGuests) {
            <li>@guest.User.Name</li>
        
            }
        </ol>
        
        
    }
}